*{
    margin:0;
    padding:0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    background:linear-gradient(45deg,#263321,#13130c,#161122,#5E2A2A);
    background-size: 300% 300%;
    animation: color 6s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 0 100%
    }
        100%{
        background-position: 0 50%;
    }
}

nav .fa-solid{
    display: none;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(sd.jpg);
    background-size: cover;
    background-position: center;
}
#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    padding: 2px 4%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vidur{
    width: 340px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
}

nav ul li a::after{
    content:'';
    width:0%;
    height: 3px;
    background: #dbec09;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header{
    margin-top: 20%;
    font-size: 30px;
}

.header h1{
    font-size: 80px;
    margin-top: 20px;
}

.header h1 span{
    color: #c32148;
}

.wrapper{
    display: inline-flex;
    
}
.static-text{
    font-size: 60px;
    font-weight: 400;
    line-height: 90px;
}
.dynamic-text{
    margin-left: 15px;
    height: 85PX;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-text li{
    color:#ababab;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide{ 
    100%{
        top: -360px;

    }
}

.dynamic-text li span{
    position: relative;
}

.dynamic-text li span::after{
    content:"";
    position: absolute;
    left: 0;
    height: 120%;
    width: 120%;
    background:none;
    border-left: none;
    animation: slide 2s steps(18) infinite;
}

@keyframes typing{ 
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/*------------------------------------------------------about--------------------------------------------- */

#about{
    padding:80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 p{
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e9ec18;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 19px;
    line-height: 28px;
    text-align: justify;
}

.tab-contents ul li span{
    color: #e9ec18;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents.active-tab{
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
/*--------------------------------------------------Membership--------------------------------------------------*/

#membership{
    padding: 0 70px;
    padding-bottom: 50px;
}

.container-m{
    display: flex;
    align-items: center;
}
.membership-list{
    font-size: 50px;
    margin-top: 20px;
}

h1{
    padding-bottom: 50px;
}

.m{
    background: #13130c;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.m img{
    width: 25%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    padding-left: 50px;
}

.m div{
    margin-left: 20px;
}

.m h2{
font-size: 30px;
padding-left: 300px;
}

.m p{
    font-size: 20px;
    padding-left: 300px;
    line-height: 40px;
}

.m:hover{
    background: linear-gradient(120deg, #b92b27,#1d2671);
    transform: translateY(-10px);
    transition: 1s;
}

.m a{
    font-size: 20px;
    color:#fff;
    display: inline-block;
    text-decoration: none;
    padding-left: 300px;
}
.m a:hover{
    color: #2f00ff;
    transition: 0.5s;
}

/*---------------------------------------------------Projects------------------------------------------*/

#project{
    padding:30px 70px;
}

.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}

.project-list div{
    background: #13130c;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
}

.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: justify;
}
.project-list div p{
    line-height: 25px;
    font-style: italic;
    letter-spacing: 2px;
    text-align: justify;
}

.project-list div p2{
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
    font-style: normal;
}

.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.project-list ul{
    font-style: italic;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: justify;
}
.project-list div a:hover{
    color: #2f00ff;
    transition: 0.5s;
}

.project-list div:hover{
    background: linear-gradient(120deg, #b92b27,#1d2671);
    transform: translateY(-10px);
    transition: 0.5s;
}

/*------------------------------------------------design------------------------------------------------*/

/*----------------------------------certification--------------------------------------------*/

#Certification{
    padding: 50px 0;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), #31473a);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    text-decoration: none;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}

.btn:hover{
    background: #ff004f;
    transition: 0.5s;
}

/*----------------------------------------Publication--------------------------------------*/

#publications{
    padding: 30px 70px;
    font-size: 30px;
}

.publications-list{
    display:grid;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}

.publications-list div{
    background: #13130c;
    padding: 40px 50px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
}

.publications-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}

.publications-list div p{
    line-height: 30px;
    font-style: italic;
    letter-spacing: 2px;
}

.publications-list div a{
    font-size: 20px;
    color:#fff;
    display: inline-block;
    text-decoration: none;
}
.publications-list div a:hover{
    color: #2f00ff;
    transition: 0.5s;
}

.fa-solid.fa-up-right-from-square{
    font-size: 20px;
}
a[href]{
    margin-top: 10px;
}

.publications-list div:hover{
    background: linear-gradient(120deg, #b92b27,#1d2671);
    transform: translateY(-10px);
    transition: 1s;
}


/*-------------------------------Contact---------------------------------*/

#contact {
    padding: 30px 70px;
    font-size: 30px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color:#e9ec18;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 40px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    
}

.social-icons a:hover{
    color: #e9ec18;
    transform: translateY(-5px);
    
}

.btn1{
    display: block;
    margin: 50px;
    width: fit-content;
    border: 1px solid #dbec09;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: bold;
    font-size: 20px;
}

.btn1:hover{
    background: #b08b3b;
    cursor: pointer;
    border: #b08b3b;
    transition: 0.5s;
}

.btn2{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #e9ec18;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: bold;
    font-size: 20px;
    background: none;
}
.btn2:hover{
    background: #b08b3b;
    border: #b08b3b;
    cursor: pointer;
    transition: 0.5s;
}

.contact-right form{
    width:500px;
}

form input, form textarea{
    width: 150%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 30px;
    margin: 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    display: inline-block;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-------------------------css for small screens------------------*/


@media only screen and (max-width: 500px){

    #header{
        background-image: url(sjjd.jpg);
    }
    .header{
        margin-top: 100% 100%;
        font-size: 20px;
    }
    .header h1{
        font-size: 35px;
    }

    .vidur{
        width: 230px;
    }

    body
    {
    margin: 0;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
    color: #fff;
    background:#263321;
    background-size: 300% 300%;
    animation: color 6s ease-in-out infinite;
    }
    @keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 0 100%
    }
        100%{
        background-position: 0 50%;
    }
    }
    nav .fa-solid{
        display: block;
        font-size: 30px;
        position: absolute;
        margin-left: 470px;
    }

    nav .fa-solid:hover{
        color: #ff004f;
        transition: 0.4s;
    }

    nav ul{
        background: #a0cecb;
        position: fixed;
        top: 0;
        right: -200px;
        width: 140px;
        height: 260vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        margin-left: 15px;
        top: 25px;
        left: 0;
        cursor: pointer;
        font-size: 30px;
    }

    #about{
        padding:80px 0;
        color: #ababab;
    }

    .about-col-2 p{
        text-align: justify;
        line-height: 30px;
        font-size: 25px;
    }

    .tab-contents ul li{
        list-style: none;
        margin: 10px 0;
        font-size: 22px;
        line-height: 28px;
        text-align: justify;
    }

    .static-text{
    font-size: 23px;
    font-weight: 400;
    display: inline;
    vertical-align: middle;
    line-height: 90px;
    }
    .dynamic-text{
    margin-left: 20px;
    height: 85PX;
    line-height: 90px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    }

    .dynamic-text li{
    color:#ababab;
    list-style: none;
    font-size: 23px;
    font-weight: 540;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
    }

    @keyframes slide{ 
    100%{
        top: -360px;

        }
        }

    .dynamic-text li span{
    position: relative;
    }

    .dynamic-text li span::after{
    content:"";
    position: absolute;
    left: 0;
    height: 50%;
    width: 50%;
    background:none;
    border-left:none;
    animation: slide 2s steps(18) infinite;
    }

    @keyframes typing{ 
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
    }

        form input, form textarea{
        width: 80%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 30px;
        margin: 20px;
        color: #fff;
        font-size: 18px;
        border-radius: 6px;
        display: inline-block;
    }
    
    .btn2{
    display: block;
    margin: 50px 150px;
    width: fit-content;
    border: 1px solid #e9ec18;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: bold;
    font-size: 20px;
    background: none;
    }
    .btn2:hover{
    background: #b08b3b;
    border: #b08b3b;
    cursor: pointer;
    transition: 0.5s;
    
    }

    .about-col-1, .about-col-2{
        flex-basis: 80%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    #membership{
        padding: 0 20px;
        font-size: 20px;
    }

    .membership-list{
        display:grid;
        grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
        grid-gap: 40px;
        margin-top:10px;
    }
  

    .m img{
        width: 50%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
        padding-left: 30px;
    }
    
    .m div{
        margin-left: 10px;
    }
    
    .m h2{
    font-size: 30px;
    padding-left: 10px;
    }
    
    .m p{
        font-size: 18px;
        padding-left: 10px;
        line-height: 40px;
    }

    .m a{
        font-size: 18px;
        color:#fff;
        display: inline-block;
        text-decoration: none;
        padding-left: 10px;
    }
    
    #project{
        padding:30px 20px;
    }

    .project-list{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-gap: 40px;
        margin-top:50px;
    }
    
    .project-list div{
        background: #13130c;
        padding: 20px;
        font-size: 16px;
        font-weight: 300;
        border-radius: 10px;
    }
    
    .project-list div i{
        font-size: 50px;
        margin-bottom: 30px;
    }

    #Certification{
        padding: 50px 0;
    }
    
    .work-list{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top:50px;
    }
    
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .work img{
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }

    #publications{
        padding: 30px 20px;
        font-size: 20px;
    }
  
    .publications-list{
        display:grid;
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top:50px;
    }
    
    .publications-list div{
        background: #13130c;
        padding: 40px 20px;
        font-size: 15px;
        font-weight: 300;
        border-radius: 10px;
    }
    
    .publications-list div i{
        font-size: 40px;
        margin-bottom: 30px;
    }
    
    .publications-list div p{
        line-height: 30px;
        font-style: italic;
        letter-spacing: 2px;
        font-size: 20px;
    }
    
    .publications-list div a{
        font-size: 18px;
        color:#fff;
        display: inline-block;
        text-decoration: none;
    }
    
    #contact {
        padding: 30px 20px;
        font-size: 28px;
    }

    form input, form textarea{
        width: 90%;
        border: 0;
        outline: none;
        background: #262626;
        padding: 30px;
        margin: 20px;
        color: #fff;
        font-size: 18px;
        border-radius: 6px;
        display: inline-block;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
    width: 80%;
}

